# 编译输出目录
/out/
/build/
/.hvigor/

# IDE配置及临时文件
/.idea/
/.vscode/
*.iml
*.iws
*.swp

# 依赖管理文件
/node_modules/
/oh_modules/

# 日志和缓存文件
*.log
*.cache

# 编译产物
*.apk
*.aab
*.bin
*.so

# 系统生成的文件
Thumbs.db
.DS_Store

# 签名证书（绝对不要上传！）
/signature/
*.p12
*.cer
*.p7b
*.pem

# 预览器缓存（鸿蒙特有）
/.preview/

# 本地配置文件
/local.properties
